.EightComp{
    position: relative;
    z-index: 1440;
    background-image: url("./back3.jpg");
    background-size: cover;
    height: 100vh;
}
.InnerFifth{
    width: 70%;
    margin-left: 5%;
    position: absolute;
    z-index: 1500;
    background-color: transparent;
    color: white;
}
.FifthHead{
    background-color: transparent;
    color: white;
    font-size: 6rem;
    margin-top: 2%;
}
.FifthHead2{
    background-color: transparent;
    color: white;
    font-size:2.2rem;
    margin-top: -12%;
}
.FifthHead3{
    background-color: transparent;
    color: white;
    font-size:1.2rem;
    margin-top: -2%;
    margin-bottom: 5%;
}
@media (max-width:500px){
    .EightComp{
        position: relative;
        z-index: 1440;
        background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/security-bg-mobile.jpg");
        background-size: cover;
        height: 100vh;
    } 
}