.SeventhComp{
    background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/image-mock.jpg");
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}


